@{
    ViewData["Title"] = "Fish Dreams - About";
}

<div class="row">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")" aria-label="Home">
            <i class="fa fa-home fa-3x"></i>
        </a>
    </div>
</div>


<div class="row padding-top">
    <div class="text-center">
        Description
    </div>
</div>