@{
    ViewData["Title"] = "Fish Dreams";
}

<div class="body-start row">
    <!-- Top Nav Bar -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            @Html.ActionLink("Settings", "Index", "Settings")
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
            hello, Erika
        </div>
    </div>

    <!-- Center Start -->
    <div class="row">
        <div class="vertical-center text-center start-button">
            @Html.ActionLink("Start", "Mood", "Assessment")
        </div>
    </div>

    <!-- Top Nav Bar -->
    <div class="row">
        <div class="vertical-center text-center">
            @Html.ActionLink("About", "About")
        </div>
    </div>

    
</div>