
@model HomeViewModel

@{
    ViewData["Title"] = "Fish Dreams";
}

<div class="body-start row">

    <!-- Center Start -->
    <div class="row padding-top">
        <div class="vertical-center text-center">

            <div class="row padding-top hidden-md hidden-lg"></div>
            <a href="@Url.Action("Assessment", "Assessment")"><img src="~/images/start.png" style="width: 50%;" /></a>

        </div>
    </div>

    <!-- Footer -->
    <div class="navbar navbar-fixed-bottom row padding-bottom">



    </div>



</div>