@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Home" asp-action="Index">Main Menu</a></li>
            <li><a asp-controller="Settings" asp-action="Index">Settings</a></li>

            @if (User.IsInRole("Administrator"))
            {
                <li><a asp-controller="Report" asp-action="Index">Report</a></li>
                <li><a asp-controller="Provider" asp-action="Index">Provider</a></li>
            }

            <li><a asp-controller="Manage" asp-action="Index">Manage Account</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        <li><a asp-controller="Home" asp-action="About">About</a></li>
    </ul>
}