@{
    ViewData["Title"] = "Fish Dreams - Sharing";
}

<div class="row">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")" aria-label="Home">
            <i class="fa fa-home fa-3x"></i>
        </a>
    </div>
</div>

<div class="row padding-top">
    <div class="col-md-12">
        <img style="width:100%" src="~/images/sharing screen.jpg" />
    </div>


</div>