
@{
    ViewData["Title"] = "Provider";
}

<h2>Provider</h2>

<label id="lblUserName" for="txtUserName" class="padding-top">Enter the User ID:</label>
<input type="text" id="txtUserName"  />
<button id="btnSubmitUser" class="btn btn-default">Submit</button>

<div id="divSelectAssessment">
    <div class="row text-center">
        <label id="lblAssessment" class="padding-top">Select an Assessment</label>
    </div>
    <div class="row padding-top">
        <table id="tblAssessments">
            <thead>
                <tr>
                    <th>
                        Assessment
                    </th>
                    <th>
                        Version
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Stroop
                    </td>
                    <td>
                        1.0.0
                    </td>
                </tr>
                <tr>
                    <td>
                        Corsi Blocks
                    </td>
                    <td>
                        1.1.5
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>