@{
    ViewData["Title"] = "Fish Dreams - Settings";
}


<div class="row padding-top">
    <div class="text-center">
        Settings
    </div>
</div>

<div class="row padding-top">
    <div class="text-center">
        @Html.ActionLink("Sharing", "Index", "Sharing")
    </div>
</div>