@model IEnumerable<string>

<!-- Take each question and parse through it-->
<div id="thisAssessment" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{int i = 0;}
        @foreach(var item in Model) {


        <div class="item @(i != 0 ? "" : "active")">
            

            @if (i == 0 || item != "")
            {                
                <img src="@Html.DisplayFor(modelItem => item)" />
            }            
            else
            {
                <div class="row text-center">                    
                    <label>What is the current time?</label>
                </div>
                <div class="row text-center">
                    <input type="text" id="txtCurrentTime" />
                </div>
            }

        </div>

            i++;
            
        }

        <!-- Next Problem -->
        <a id="btnNextQuestion" class="btn btn-primary pull-right" href="#thisAssessment" data-slide="next" onclick="CheckLast(@Model.Count());">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    
</div>