@model IEnumerable<string>

<div>

    <!-- Take each question and parse through it-->
    <div class="col-md-12">
        @foreach(var item in Model) {

            <img style="width:100%" src="@Html.DisplayFor(modelItem => item)" />
        }
    </div>

</div>