@model List<string>

@{
    ViewData["Title"] = "Fish Dreams - Assessment";
}

<div class="row">
    <div class="text-center">
        Assessment - Stroop
    </div>
</div>



<div class="padding-top">
    @Html.Partial("_Template", Model)
    
</div>
