@model Boolean

@{
    ViewData["Title"] = "Fish Dreams - Assessment Complete";
}

<div class="row">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")" aria-label="Home">
            <i class="fa fa-home fa-3x"></i>
        </a>
    </div>
</div>

<div class="row padding-top">
    <div class="text-center">
        Congratuations, you have completed this assessment!
    </div>
</div>

<div class="row padding-top">
    <div class="text-center">
        @if (Model)
        {
            <a href="@Url.Action("Assessment", "Assessment")">Next Assessment</a>
        }
                
        
    </div>
</div>
