@model Boolean

@{
    ViewData["Title"] = "Fish Dreams - Assessment Complete";
}


<div class="row padding-top">
    <div class="text-center">
        Congratuations, you have completed this assessment!
    </div>
</div>

<div class="row padding-top">
    <div class="text-center">
        
        <div class="row">
            @if (Model)
            {
                <a asp-controller="Assessment" asp-action="Assessment" class="btn btn-success">Next Assessment</a>
            }
        </div>

        <div class="row padding-top">
            <a asp-controller="Home" asp-action="Index" class="btn btn-default">Return to Menu</a>
        </div>

    </div>
</div>
