@{
    ViewData["Title"] = "Fish Dreams - Assessment";
}

<div class="row text-center">

    <h2>How are you feeling?</h2>

</div>



<div class="row padding-top">

    <div class="col-xs-4 col-md-4"></div>

    <div class="col-xs-4 col-md-4 text-center">
        <a href="@Url.Action("Assessment", "Assessment")" class="thumbnail" aria-label="Smile">
            <i class="fa fa-smile-o fa-5x" style="color:black"></i>
        </a>
    </div>

    <div class="col-xs-4 col-md-4"></div>

</div>
<div class="row">
    <div class="col-xs-4 col-md-4"></div>

    <div class="col-xs-4 col-md-4 text-center">
        <a href="@Url.Action("Assessment", "Assessment")" class="thumbnail" aria-label="Meh">
            <i class="fa fa-meh-o fa-5x" style="color:black"></i>
        </a>
    </div>

    <div class="col-xs-4 col-md-4"></div>
</div>

<div class="row">

    <div class="col-xs-4 col-md-4"></div>
    <div class="col-xs-4 col-md-4 text-center">
        <a href="@Url.Action("Assessment", "Assessment")" class="thumbnail" aria-label="Frown">
            <i class="fa fa-frown-o fa-5x" style="color:black"></i>
        </a>
    </div>
    <div class="col-xs-4 col-md-4"></div>


</div>
